.board {
  display: flex;
  flex-direction: column;
  background-color: #008080;
  padding: 1em;
  height: 100%;
  align-items: center;
}

.category {
  border-radius: 0.15em;
  display: flex;
  margin: 1em;
  width: 80% !important;
}


.category__inner {
  height: 100%;
  width: 100% !important;
}

.category__header {
  border: black solid 0.4px;
  display: flex;
  height: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1em;
}

.ticket {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ticket__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ticket__body {
  height: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}