.board {
  display: flex;
  flex-direction: column;
  background-color: #008080;
  padding: 1em;
  height: 100%;
  align-items: center;
}

.category {
  border-radius: 0.15em;
  display: flex;
  margin: 1em;
  width: 80% !important;
}
.category__list {
  padding: 0.5em;
}


.category__inner {
  height: 100%;
  width: 100% !important;
}

.category__header {
  border: black solid 0.4px;
  display: flex;
  height: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1em;
}

