@font-face {
    font-family: 'Windows';
    src: local('Windows'), url(../fonts/Windows\ Regular.ttf) format('opentype');
}

h2 {
    font-family: 'Windows';
}

.outer__frame{
    border-radius: 0.15em;
    display: flex;
    margin: 1em;
    width: 70% !important;
    align-self: center;
}

.inner__frame {
    width: 100% !important;
    padding-bottom: 1em;
}
.landing__body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.landing__page__body__inner{
    padding-bottom: 1em;
}
.landing__page__hr {
    width: 90%;
}
.landing__logo{
    width: 25%;
    margin-top: 1em;
    border: 0.25em solid black;
}