
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5em !important;
    justify-content: space-between;
    margin-bottom: 1em;
    font-family: monospace;
    font-size: 2em;

}

.navbar__buttons {
    width: 70%;
    display: none;
    justify-content: space-evenly;

}
  
.navbar__button {
height: 70%;
width: auto;
border-radius: 0.1em;
font-family: monospace;
font-weight: bold;
}

.logo__navbar {
    width: 100%;
}
.logo__text {
    font-family: arial;
}

 .burger__button {
    width: 15%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2em;
 }
.hidden__element {
    width: 15%;
    padding: 0.2em;
}
 .burger__button:hover {
    background-color: whitesmoke;
    border-radius: 0.1em;
 }

 .navbar__bar {
    background-color: black;
    height: 20%;
    width: 100%;
    justify-content: flex-start;
 }

 @media (min-width: 951px) {
    .burger__button {
        display: none;
    }
    .hidden__element {
        display: none;
    }
    .navbar {
        justify-content: space-around;
    }
    .logo__navbar {
        margin-right: 0;
        width: 0;
    }
    .navbar__buttons {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 2em;
    }
 }