.project__card--outer {
    width: 70% !important;
    align-self: center;
    margin-bottom: 1em;
  }
.project__card--inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1em;
  }
.project__card__title {
    margin-left: 0.75em;
}
