/* MOBLIE FIRST */
.ticket__card {
  border: #282c34 solid 1px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
  background: lightgray;
}

.ticket__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ticket__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  align-content: space-between;
  justify-content: space-between;
}
.ticket__description--hidden {
  display: none;
}
.ticket__description--show {
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
  display: block;
}
.ticket__title {
  margin-top: auto;
  margin-bottom: auto;
}
.ticket__status {
  margin-top: auto;
  margin-bottom: auto;
}

.show__desc__arrow {
  height: 1em;
  width: 1em;
}
.ticket__date {
  margin-top: auto;
  margin-bottom: auto;
}
.ticket__assigned{
  margin-top: auto;
  margin-bottom: auto;
}

.ticket__label {
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-start;
  text-decoration: underline;
}

.ticket__body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.ticket__card--edit {
  align-self: flex-end;
  margin-top: 0.5em;
}
.ticket__hr {
  background-color: black;
  height: 1%;
  width: 90%;
}
.created__assigned {
  display: flex;
  width: 100%;
  justify-content: center;
}
.lilbox {
  width: 40%;
}

/* MEDIUM SCREENS AND ABOVE */
@media (min-width: 768px) {
  .ticket__buttons {
    flex-direction: row;
    width: 100%;
  }
}